/* -- CSS RESET --*/
*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1em;
}

/*-- Main structual styling--*/

body {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(35,35,35,1) 40%, rgba(35,35,35,1) 60%, rgba(0,0,0,1) 100%);
    color: #333;
    font-family: roc-grotesk, sans-serif;
    font-weight: 200;
    font-style: normal;
}

@media only screen and (max-width: 900px) {
    
}

.bild {
margin-bottom:12rem;
margin-top:-1.5rem;
}

.light {

    width:100%;
    max-width: 900px;
    margin:auto;
    margin-top:-150px;
}

.text{
    background:#f7f7f7;
    width:70%;
    padding:2rem;
    margin-bottom:40px;
    -webkit-box-shadow: 1px 11px 50px 4px rgba(0,0,0,0.75); 
box-shadow: 1px 11px 50px 4px rgba(0,0,0,0.75);

}

section, header {
    width:80%;
    max-width: 700px;
    margin: auto;
    
}



img {
    -webkit-box-shadow: 1px 11px 50px 4px rgba(0,0,0,0.75); 
box-shadow: 1px 11px 50px 4px rgba(0,0,0,0.75);
}

.top img {
    box-shadow:none;
}

header {
    padding-bottom: 3rem;
    position:relative;
    

}

.quote {
    background:#124244;
    margin:2rem 0 2rem 0;
    padding: 2rem;
    margin-bottom:12rem;
    -webkit-box-shadow: 1px 11px 50px 4px rgba(0,0,0,0.75); 
box-shadow: 1px 11px 50px 4px rgba(0,0,0,0.75);

}

.qtext {
    width:80%;
    margin:auto;
    max-width:700px;
    text-align:left;
}

/*-- styling typography--*/
 blockquote {
    color:#ffffff;
    width:500px;
    font-family: bely, serif;
    font-weight: 400;
    font-style: italic;

}


p, blockquote {
    margin-bottom: 0;
    line-height: 1.4;

}

.dark h1 {
    font-size: 3rem;
    margin-top: 1em;
    color: #000000; 
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    position:relative;
    z-index:9;
    top: 109px;
    right:1px;
    opacity:0.8;
  

}

hr {
    margin-top:2rem;
    margin-bottom:2rem;
}
.bg{ 
    background-color:#ffffff;
    min-width: 1800px;
    max-width:1800px;
    width:1800px;
    height:4rem;
    position:relative;
    float:left;
    top:50px;
    left:-1320px;
    margin:auto;
    opacity:0.6;
    z-index:-1;
    
}

.bg2{ 
    background-color:#124244;
    min-width: 900px;
    width:1800px;
    height:7rem;
    position:relative;
    float:left;
    top:82px;
    left:275px;
    margin:auto;
    opacity:0.6;
    z-index:-1;
    
}

.d24 {
    position:relative;
    float:center;
    width:450px;
    left:370px;
    top:15px;

}

h2 {
    font-size: 2.4rem;
    margin: 0.5em 0 0.5em 0;
    color: #124244;
    text-align:center;
    

}

.dark h2 {
    font-size: 2rem;
    position:relative;
    top:-55px;
    right:239px;
    font-family: roc-grotesk, sans-serif;
    font-weight: 100;
    font-style: normal;
    color:#ffffff;

}


blockquote {
    font-size: 1.3rem;
    font-style: italic;
    hanging-punctuation: first;
    text-indent: -0.54rem;

    width:80%;
    max-width: 800px;
    margin:auto;

    

}

p {
    padding: 1rem;
    font-family: bely, serif;
    font-weight: 400;
    font-style: normal;

}

cite {
    font-size: 0.8em;
    color: #333;
    font-style: normal;

}



header p {
    font-size: 1.2rem;

}

.dark {
    background: url(../images/header.png) center ;
    background-repeat: no-repeat;
    color:#f7f7f7;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-top: 40px;
    position: relative;
    z-index: -2;
    font-size:13px;

}


.dark p {
    position:relative;
    top:-145px;
    right:100px;
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
}


li {
    color: #f7f7f7;
}

/*--Styling nav--*/

nav {
    position: fixed;
    top:0;
    left:0;
    margin:0;
    width: 100%;
    background: #124244;
    padding: 0.2em 0;
    font-size: 0.75rem;
    font-family: roc-grotesk, sans-serif;
    font-weight: 200;
    font-style: normal;
}
nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}
nav ul li {
    display: inline;
    margin: 20px;
}

nav a {
    color:#f7f7f7;
}

nav a:hover {
    border-bottom: none;
    color:#3d89a0;
    transition: all 0.3s ease-in-out;
}


footer {
    text-align: center;
    font-size: 0.75rem;
    margin-top:-5rem;
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

/*--experimental--*/


    .top {
        position:relative;
        left:39rem;
        top:-1.9rem;
        margin:auto;
        max-width:500px;
        min-width:100px;
    }
    
.top img:hover{
    filter: invert(56%) sepia(5%) saturate(4283%) hue-rotate(148deg) brightness(84%) contrast(84%);
}

html{
    scroll-behavior: smooth;
}


/*-- Image control --*/
img {
    display: block;
    margin: 4em 0 0 ;
    max-width: 100%;

}

.gridimage {
display:grid;
grid-gap:10px;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.end {
    color: #f7f7f7;
    background-color: #124244;

}

.end p {
    font-family: roc-grotesk, sans-serif;
font-weight: 400;
font-style: normal;
}